*{
    margin: 0;
    padding: 0;
}

@keyframes ballMove {
    0% {top:0px; left: 10px;}
    100% {top: 90%; left: 100%; transform: translateX(-150%);}
}



@keyframes linha1{
    0% {top: 0}
    100% {top: 100%; transform: translatey(-100%); background-color: red;}
    
}

@keyframes linha2{
    0% {bottom: 0}
    100% {bottom: 100%; transform: translatey(100%); background-color: blue;}
    
}

@keyframes fundo{
    0%{background-color: chartreuse;}
    100% {background-color: rgb(241, 57, 202);}
}


body{

    animation-name: fundo;
    animation-delay: 1s ;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;

}

.bola{
    position: absolute;

    width: 20px;
    height: 20px;
    border: 2px solid;
    top: 0;
    left: 15px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);    
    
    animation-delay: 1s;
    animation-name: ballMove;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    
    
    
}

.linha1{
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: yellow;
    border: solid 2px;

    animation-delay: 1s;
    animation-name: linha1;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    
}

.linha2{

    position: absolute;
    bottom:0;
    right: 0;
    width: 10px;
    height: 100px;
    background-color: yellow;
    border: solid 2px;

    animation-delay: 1s;
    animation-name: linha2;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}