.bt{
    display: inline-block;
    background-color: rgb(117, 117, 241);
    padding: 20px;
    color: white;

    transition-property: background-color, padding, letter-spacing;
    transition-duration: 0.5s;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
    cursor:pointer;
    border-radius: 10px;
    
  
}

.bt:hover{
    background-color: rgb(57, 57, 121);
    padding-left:50px ;
    padding-right: 50px;
    letter-spacing: 3px;
}
